*{margin:0; padding:0;}
body{background-color:#dddddd;}
div img{margin:0 auto; display: block; }
.cat img{margin:0 auto;  display: block; width: 1320px; }
.fixed{  position: fixed;  right:100px;  bottom:100px;}
.fixed:hover{  opacity:0.8;}
.fixed2{  position: fixed;  right:100px;  bottom:40px;}
.fixed2:hover{  opacity:0.8;}
.guide{margin: auto; width: 1320px; margin-top: 50px;}
.yv{margin-left: auto; margin-right: auto; display: block;}